*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}
body{
    background-image: url('wp9078348.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#a{
    border: 5px solid rgb(255, 0, 0);
    color: pink;
    font-size: 35px;
    font-weight: bold;
    font-family: monospace;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 2%;
    margin-left: 2%;
}

#icon{
    width: 100%;
    height: 150px;
    cursor: pointer;
    position: relative;
    top: 50%;
    margin-left: 10%;   
}
.fa-house{
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 3%;
    border-radius: 50%;
    margin-top: 10%;

}
.fa-arrow-left-long{
    font-size: 50px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 3%;
    margin-top: 10%;
    margin-left: 5%;
}
#wrong{
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url('oops-3cc6db90b12246805df852e146b8fd97.png');
    background-attachment: fixed;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: 20%;
    background-position-y: 50%;
}
#wrong2{
    position: absolute;
    padding-left: 4%;
    width: 49%;
    height: 80%;
    background-color: tomato;
    left: 40%;
    top: 10%;
    border-radius: 20%;
    border: 4px solid rgb(0, 0, 0);
    background-image: url('Wrong-Logo-PNG-Image.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 20% 20%;
    background-position: top;
    background-position-x: 63%;
    background-position-y: 30%;

}
#back{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    bottom: 10%;
    background-image: url('/image/horse2255876_1280.webp');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: 20%;
    background-position-y: 50%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20%;
}
#h1{
  width: 100px;
  height: 100px;
  margin-left: 7%;
  margin-top: 10%;
  font-size: 25px;
  font-style: initial;
  font-family: monospace;
  color: red;
}
.fa-arrow-rotate-left{
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 3%;
    border-radius: 50%;
    margin-left: 5%;
}
#try{
    position: relative;
    top: 50%;
    margin-left: 20%;   
    font-size: 35px;
    font-family: monospace;
    color: yellow;
}